.footer {
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 8vw;
  padding-top: 50px;
  margin-top: 80px;
}
.footer-content {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 50px;
}
.footer-content-left,
.footer-content-center,
.footer-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
}

.footer-content-left img{
  width: 220px;
  height: auto;
  max-height: 80px;
  object-fit: contain;
}
.footer-content-left li,
.footer-content-center li,
.footer-content-right li {
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-content-center h2,
.footer-content-right h2 {
  color: white;
}

.footer-social-icons img{
    width: 40px;
    margin-right: 15px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 15px 0px;
    background-color: gray;
    border: none;
}
@media (max-width:750px) {
  .footer{
    padding-top: 40px;
    margin-top: 60px;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .footer-content-left,
  .footer-content-center,
  .footer-content-right {
    gap: 12px;
  }
  .footer-content-left img{
    width: 180px;
    max-height: 70px;
  }
  .footer-copyright{
    text-align: center;
  }
}